<div class="playlist-grid-item">
  <a href="/playlist/{{ id }}">
    <img src="{{ cover_image_url }}" alt="{{ title }}" />
    <h3>{{ title }}</h3>
    <p>Created by {{ User.username }}</p>
  </a>
</div>