<link rel="stylesheet" href="/css/userstyle.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

<body>

    <div class="comment-popup">
        <div class="modal-header">
            <h3>Comments</h3>
            <span class="close">&times;</span>
        </div>
        <div class="modal-body">
            <form class="comment-form">
                <label for="comment">Add your comment:</label>
                <input id="comment" type="text" n />
                {{!-- <textarea id="comment" name="comment"></textarea> --}}
                <button type="submit">Submit</button>
            </form>
            <div class="comments-list">

            </div>
        </div>
    </div>

    <div class="container">
        <div class="logo">
            <a href="/home">
                <h1>Jam Session</h1>
            </a>
        </div>
        <p id="user-welcome">Welcome, <span class="username">{{username}}</span>!</p>
        <a href="/"><button class="logout-btn" id="logout">Log Out</button></a>
    </div>

    <div class="side-container">
        <aside>
            <img id="profile-picture" src="{{profile_picture_url}}">
            <a href="/spotifylogin">
                <div class="spotify-btn">
                    <button class="side default-side">Connect with Spotify</button>
                    <button class="side hover-side"> Sync</button>
                </div>
            </a>
            <h3>{{spotify_id}}: </h3>
            <h4>{{followers}} followers on Spotify</h4>
            <h2><span class="sep-font2">Current Favorites: </span>
                <br>
                <span class="sep-font">Songs</span>
            </h2>
            <hr>
            {{#each top_songs as |top_song|}}
            <p>{{top_song.[0]}} - {{top_song.[1]}}</p>
            {{/each}}
            <hr>
            <h2><span class="sep-font">Artists</span></h2>
            {{#each top_artists as |top_artist|}}
            <p>{{top_artist}}</p>
            {{/each}}

        </aside>
    </div>

    <div class="playlist-grid">
        {{#each playlists as |playlist|}}
        <div class="playlist-grid-item">
            <img src="{{playlist.image_url}}" alt="{{playlist.name}}">
            <div class="playlist-info">
                <h3><a href="{{playlist.playlist_url}}" target="_blank"><span
                            class="play-name">{{playlist.name}}</span></a></h3>
                <p>{{playlist.description}}</p>
                <div class="playlist-stats">
                    <div class="likes">
                        <button class="like-btn" data-playlist-id="{{playlist.playlist_id}}">
                            <i class="fa-sharp fa-regular fa-heart" data-playlist-id="{{playlist.playlist_id}}"></i>
                        </button>
                        <span class="num-likes">{{playlist.likes}}</span>
                    </div>
                    <div class="comments">
                        <button class="comment-btn" data-playlist-id="{{playlist.playlist_id}}">
                            <i class="fa-sharp fa-regular fa-comment" data-playlist-id="{{playlist.playlist_id}}"></i>
                        </button>
                        <span class="num-comments">{{playlist.comments}}</span>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>



</body>

<script src="/logout.js"></script>
<script src="/likebutton.js"></script>
<script src="/comments.js"></script>

</html>