<link rel="stylesheet" href="/css/userstyle.css">

<body>



    <div class="header">
        <div class="logo">
            <a href="/home">
                <h1 class="logo" id="header-item">Jam Session</h1>
            </a>
        </div>
        <div id="header-item">
            <p id="user-welcome">Welcome, <span class="username">{{username}}</span>!</p>
        </div>
        <div id="header-item">
            <button class="logout-btn" id="logout">Log Out</button>
        </div>
    </div>


    <div class="containerAside">
        <aside>
            <img id="profile-picture" src="{{profile_picture_url}}">
            <a href="/spotifylogin"><button class="btn btn-primary" id="spotify-button" type="submit">Login To
                    Spotify</button></a><br>
            <h3>{{spotify_id}}</h3>
            <h4>{{followers}} followers on Spotify</h4>
            <h2><span class="sep-font">Favorite Songs</span></h2>
            <hr>
            {{#each top_songs as |top_song|}}
            <p>{{top_song}}</p>
            {{/each}}
            <hr>
            <h2><span class="sep-font">Favorite Artists</span></h2>
            {{#each top_artists as |top_artist|}}
            <p>{{top_artist}}</p>
            {{/each}}
        </aside>

        <div class="playlist-grid">
            {{#each playlists as |playlist|}}
            <div class="playlist-grid-item">
                <img src="{{playlist.image_url}}" alt="{{playlist.name}}">
                <div class="playlist-info">
                    <h3>{{playlist.name}}</h3>
                    <p>{{playlist.description}}</p>
                    <div class="playlist-stats">
                        <div class="likes">
                            <button class="like-btn" data-playlist-id="{{playlist.id}}">
                                <i class="fa-sharp fa-regular fa-heart"></i>
                            </button>
                            <span class="num-likes">{{playlist.likes}}</span>
                        </div>
                        <div class="comments">
                            <button class="comment-btn" data-playlist-id="{{playlist.id}}">
                                <i class="fa-sharp fa-regular fa-comment"></i>
                            </button>
                            <span class="num-comments">{{playlist.comments}}</span>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>

    </div>

</body>

<script src="/logout.js"></script>

</html>